@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700;800&display=swap');
/* =====================================================
RESET
===================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =====================================================
BODY
===================================================== */

body {

    width: 100%;
    min-height: 100vh;

    overflow: hidden;

    position: relative;

    font-family: Helvetica, sans-serif;

    background: #159bd5;

    color: white;

}


/* =====================================================
BACKGROUND DOTS
===================================================== */

.background-dots {

    position: fixed;

    inset: 0;

    z-index: -10;

    background-color: #159bd5;

    background-image:

        radial-gradient(
            rgba(255,255,255,0.55) 1px,
            transparent 1px
        );

    background-size: 9px 9px;

}


/* =====================================================
MENU BUTTON
===================================================== */

.menu-button {

    position: fixed;

    top: 25px;

    right: 30px;

    width: 55px;

    height: 48px;

    border: none;

    border-radius: 14px;

    background: rgba(255,255,255,0.18);

    cursor: pointer;

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 5px;

    z-index: 101;

}


.menu-button span {

    width: 24px;

    height: 3px;

    background: white;

    border-radius: 10px;

}


/* =====================================================
MENU
===================================================== */

.menu {

    position: fixed;

    top: 85px;

    right: 30px;

    width: 250px;

    padding: 15px;

    background: white;

    border-radius: 20px;

    box-shadow:
        0 20px 50px rgba(0,0,0,0.2);

    z-index: 100;

    opacity: 0;

    transform: translateY(-10px);

    pointer-events: none;

    transition: 0.3s;

}


.menu.show {

    opacity: 1;

    transform: translateY(0);

    pointer-events: auto;

}


.menu a {

    display: block;

    font-family: sans-serif;

    padding: 14px;

    color: #0879bb;

    font-weight: bold;

    text-decoration: none;

    border-radius: 12px;

}


.menu a:hover {

    background: #e8f7ff;

}


.menu a.active {

    background: #e8f7ff;

}


/* =====================================================
BACK BUTTON
===================================================== */

.back-button {

    position: fixed;

    top: 25px;

    left: 30px;

    width: 55px;

    height: 48px;

    border-radius: 14px;

    background: rgba(15, 136, 206, 0.812);

    display: flex;

    align-items: center;

    justify-content: center;

    text-decoration: none;

    z-index: 101;

    transition: 0.3s;

}


.back-button span {

    color: rgb(239, 241, 241);

    font-size: 30px;

    font-family: sans-serif;

    line-height: 1;

}


.back-button:hover {

    background: rgba(42, 179, 242, 0.921);

}


/* =====================================================
CLOUD
===================================================== */

.cloud {

    position: absolute;

    width: 500px;

    height: 120px;

    border-radius: 100px;

    z-index: 2;

    pointer-events: none;

}


/* =====================================================
CLOUD 1
===================================================== */

.cloud-1 {

    left: -150px;

    top: 50px;

    background: rgba(246, 249, 247, 0.607);

    opacity: 0.9;

    animation:
        cloudMove1
        12s
        infinite
        alternate
        ease-in-out;

}


.cloud-1::before,
.cloud-1::after {

    content: "";

    position: absolute;

    border-radius: 50%;

}


.cloud-1::before {

    width: 220px;

    height: 220px;

    left: 70px;

    bottom: 20px;

    background: rgba(246, 248, 246, 0.825);

}


.cloud-1::after {

    width: 250px;

    height: 180px;

    right: 50px;

    bottom: 0;

    background: white;

}


/* =====================================================
CLOUD 2 — XANH
===================================================== */

.cloud-2 {

    right: -150px;

    bottom: 80px;

    background: #baf58b;

    opacity: 0.8;

    filter: blur(3px);

    animation:
        cloudMove2
        15s
        infinite
        alternate
        ease-in-out;

}


.cloud-2::before,
.cloud-2::after {

    content: "";

    position: absolute;

    border-radius: 50%;

    background: #baf58b;

}


.cloud-2::before {

    width: 200px;

    height: 200px;

    left: 70px;

    bottom: 20px;

}


.cloud-2::after {

    width: 260px;

    height: 180px;

    right: 50px;

    bottom: 0;

}


/* =====================================================
CLOUD 3
===================================================== */

.cloud-3 {

    left: -180px;

    bottom: -80px;

    background: white;

    opacity: 0.9;

    transform: scale(1.3);

}


/* =====================================================
CLOUD ANIMATION
===================================================== */

@keyframes cloudMove1 {

    from {

        transform: translateX(0);

    }

    to {

        transform: translateX(120px);

    }

}


@keyframes cloudMove2 {

    from {

        transform: translateX(0);

    }

    to {

        transform: translateX(-120px);

    }

}


/* =====================================================
DECORATIVE STARS
===================================================== */

.star {

    position: absolute;

    z-index: 3;

    color: white;

    font-size: 35px;

    animation:
        floatStar
        4s
        ease-in-out
        infinite;

}


.star-1 {

    left: 90%;

    top: 120px;

    font-size: 30px;

    animation-delay: 0s;

}


.star-2 {

    left: 45%;

    top: 120px;

    font-size: 30px;

    animation-delay: 1s;

}


.star-3 {

    left: 10%;

    bottom: 250px;

    font-size: 20px;

    animation-delay: 2s;

}


@keyframes floatStar {

    0%,
    100% {

        transform:
            translateY(0)
            rotate(0deg);

    }

    50% {

        transform:
            translateY(-10px)
            rotate(10deg);

    }

}


/* =====================================================
BUBBLES
===================================================== */

.bubble {

    position: absolute;

    border-radius: 50%;

    background:

        linear-gradient(
            135deg,
            #ffbdf7,
            #9eeaff,
            #baff9c
        );

    z-index: 4;

    animation:
        bubbleMove
        5s
        ease-in-out
        infinite;

}


.bubble-1 {

    width: 45px;

    height: 45px;

    right: 80%;

    bottom: 225px;

}


.bubble-2 {

    width: 17px;

    height: 17px;

    right: 60%;

    bottom: 170px;

    animation-delay: 1s;

}


@keyframes bubbleMove {

    0%,
    100% {

        transform:
            translateY(0);

    }

    50% {

        transform:
            translateY(-15px);

    }

}


/* =====================================================
MAIN CONTENT
===================================================== */

.skills-container {

    width: 100%;
    height: 100vh;

    padding: 115px 8% 25px;

    display: grid;

    grid-template-columns:
        1.05fr 1fr;

    grid-template-rows:
        190px 190px 270px;

    grid-template-areas:

        ". tech"
        "teaching office"
        "mindset .";

    gap: 18px;

    position: relative;

    z-index: 5;
}


/* =====================================================
ĐỊNH VỊ 4 KHUNG
===================================================== */

.tech-card {
    grid-area: tech;

    /* CHỈNH RỘNG */
    width: 100%;

    /* CHỈNH CAO */
    height: 245px;

    /* DỊCH LÊN / XUỐNG */
    transform: translateY(50px);

    /* DỊCH TRÁI / PHẢI */
    margin-left: 0px;
}

.teaching-card {
    grid-area: teaching;

    width: 100%;
    height: 250px;

    transform: translateY(-158px);

    margin-left: 0px;
}

.office-card {
    grid-area: office;

    width: 100%;
    height: 300px;

    transform: translateY(100px);

    margin-left: 0px;
}

.mindset-card {
    grid-area: mindset;

    width: 100%;
    height: 270px;

    transform: translateY(-100px);

    margin-left: 0px;
}

/* =====================================================
GENERAL CARD
===================================================== */

.skill-card {

    border-radius: 30px;

    border: 2px solid
        rgba(255,255,255,0.65);

    padding: 22px 25px;

    backdrop-filter: blur(5px);

    -webkit-backdrop-filter: blur(5px);

    box-shadow:
        0 10px 30px rgba(0,0,0,0.08);

    overflow: hidden;

}


.skill-card h1 {

    font-size: 25px;

    margin-bottom: 8px;

    color: #071f78;

}


.card-subtitle {

    font-size: 15px;

    color: #071d72;

    margin-bottom: 18px;

    font-weight: 500;

}


/* =====================================================
TECH CARD
===================================================== */

.tech-card {

    background:
        rgba(202, 199, 255, 0.70);

}


.tech-grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 12px;

    transform: translateY(15px);


}


.tech-item {

    width: 100%;

    height: 58px;

    background:
        rgba(255,255,255,0.82);

    border-radius: 20px;

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 7px;

    color: #081b78;

    font-size: 14px;

    font-weight: 600;

    box-shadow:
        0 5px 12px rgba(0,0,0,0.06);

    transition: 0.25s;

}


.tech-item:hover {

    transform: translateY(-4px);

}


.skill-icon {

    font-size: 23px;

}


/* =====================================================
TEACHING CARD
===================================================== */

.teaching-card {

    background:
        rgba(255, 225, 133, 0.78);

}


.recommend-label {

    position: absolute;

    top: 8px;

    right: 15px;

    padding: 5px 10px;

    border-radius: 15px;

    background: rgba(255,255,255,0.75);

    color: #e87500;

    font-size: 9px;

    font-weight: bold;

}


.teaching-grid {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 12px;

}


.teaching-item {

    min-height: 175px;

    border-radius: 22px;

    background:
        rgba(255,255,255,0.70);

    padding: 12px;

    text-align: center;

    color: #4a2410;

}


.teaching-icon {

    font-size: 42px;

    margin-bottom: 4px;

}


.teaching-item h2 {

    font-size: 17px;

    margin-bottom: 10px;

}


.teaching-item p {

    font-size: 12px;

    line-height: 1.5;

}


/* =====================================================
OFFICE CARD
===================================================== */

.office-card {

    background:
        rgba(193, 240, 238, 0.76);

}


.office-grid {

    display: grid;

    grid-template-columns:
        repeat(4, 1fr);

    gap: 10px;

}


.office-item {

    height: 103px;

    border-radius: 20px;

    background:
        rgba(255,255,255,0.72);

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    gap: 7px;

    color: #09244c;

    font-size: 12px;

    font-weight: 600;

    transition: 0.25s;

}


.office-item:hover {

    transform: translateY(-4px);

}


.office-icon {

    width: 39px;

    height: 39px;

    border-radius: 9px;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 25px;

    font-weight: bold;

    color: white;

}


.canva {

    background: #7457d9;

}


.excel-icon {

    background: #168a54;

}


.powerpoint {

    background: #e75c31;

}


.docs {

    background: #4385f5;

}


.sheets {

    background: #34a853;

}


.slides {

    background: #f5a623;

}


.word {

    background: #2777c7;

}


.notion {

    background: #111;

}


/* =====================================================
MINDSET CARD
===================================================== */

.mindset-card {

    background:
        rgba(190, 217, 250, 0.78);

}


.mindset-content {

    display: grid;

    grid-template-columns:
        1fr 145px;

    gap: 12px;

}


.softskills-grid {

    display: grid;

    grid-template-columns:
        repeat(3, 1fr);

    gap: 8px;

}


.soft-item {

    min-height: 52px;

    border-radius: 18px;

    background:
        rgba(255,255,255,0.65);

    display: flex;

    align-items: center;

    justify-content: center;

    gap: 5px;

    color: #12348c;

}


.soft-item span {

    font-size: 20px;

}


.soft-item p {

    font-size: 9px;

    font-weight: bold;

    text-align: center;

}


/* =====================================================
POMODORO
===================================================== */

.pomodoro {

    background:
        rgba(255,255,255,0.65);

    border-radius: 22px;

    padding: 10px;

    text-align: center;

}


.pomodoro h3 {

    font-size: 10px;

    color: #173a94;

    margin-bottom: 8px;

}


.timer {

    width: 92px;

    height: 92px;

    margin: auto;

    border-radius: 50%;

    border:

        8px solid
        #83b8ec;

    border-top-color:
        #ed6962;

    border-right-color:
        #ed6962;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 18px;

    font-weight: bold;

    color: #152d8c;

}


.pause-button {

    width: 30px;

    height: 30px;

    border-radius: 50%;

    background: white;

    margin:

        -13px
        auto
        8px;

    display: flex;

    align-items: center;

    justify-content: center;

    color: #5679b7;

    font-size: 11px;

    box-shadow:
        0 3px 8px rgba(0,0,0,0.1);

}


.pomodoro p {

    font-size: 10px;

    line-height: 1.5;

    color: #172d82;

    font-weight: bold;

}


/* =====================================================
PROFILE IMAGE
===================================================== */

.skills-profile {

    position: fixed;

    right: 2%;

    bottom: -5px;

    width: 205px;

    z-index: 10;

    pointer-events: none;

}


.skills-profile img {

    width: 100%;

    display: block;

    object-fit: contain;

    filter:
        drop-shadow(
            0 0 7px
            rgba(255,255,255,0.9)
        );

}


/* =====================================================
RESPONSIVE
===================================================== */

@media (max-width: 1100px) {

    .skills-container {

        padding-left: 6%;

        padding-right: 6%;

        gap: 12px;

    }


    .skill-card {

        padding: 18px;

    }


    .skill-card h1 {

        font-size: 20px;

    }


    .tech-item {

        font-size: 11px;

    }


    .skills-profile {

        width: 150px;

    }

}


@media (max-width: 800px) {

    body {

        overflow-y: auto;

    }


    .skills-container {

        height: auto;

        min-height: 100vh;

        padding:

            100px
            20px
            120px;

        grid-template-columns: 1fr;

        grid-template-rows: auto;

    }


    .tech-grid {

        grid-template-columns:
            repeat(2, 1fr);

    }


    .office-grid {

        grid-template-columns:
            repeat(2, 1fr);

    }


    .teaching-grid {

        grid-template-columns:
            repeat(3, 1fr);

    }


    .mindset-content {

        grid-template-columns: 1fr;

    }


    .skills-profile {

        width: 110px;

        right: 10px;

    }

}


@media (max-width: 500px) {

    .menu-button {

        top: 18px;

        right: 18px;

    }


    .back-button {

        top: 18px;

        left: 18px;

    }


    .menu {

        top: 78px;

        right: 18px;

        width: 230px;

    }


    .skills-container {

        padding:

            90px
            15px
            100px;

    }


    .teaching-grid {

        grid-template-columns: 1fr;

    }


    .softskills-grid {

        grid-template-columns:
            repeat(2, 1fr);

    }

}

/* =====================================================
   PAGE TITLE — KỸ NĂNG
===================================================== */

.skills-page-title {

   color: white;

    font-size:
        clamp(70px, 8.5vw, 100px);

    font-weight: bold;

    font-family: serif;

    line-height: 0.85;

    letter-spacing: 0px;

    margin: 0 0 2px 0;

    position: relative;
    
    top: -95px;
    left: 370px;
}