/* ==============================
   RESET
============================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    overflow: hidden;
}


/* ==============================
   HOME
============================== */

.home {
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    background:
        radial-gradient(
            circle at 20% 20%,
            rgba(255,255,255,0.9) 0 2px,
            transparent 3px
        ),

        radial-gradient(
            circle at 70% 30%,
            rgba(255,255,255,0.8) 0 2px,
            transparent 3px
        ),

        radial-gradient(
            circle at 40% 70%,
            rgba(255,255,255,0.7) 0 2px,
            transparent 3px
        ),

        linear-gradient(
            #0788cf,
            #20a9df
        );
}


/* ==============================
   DOTTED BACKGROUND
============================== */

.home::before {
    content: "";

    position: absolute;

    inset: 0;

    opacity: 0.3;

    background-image:
        radial-gradient(
            white 1px,
            transparent 1px
        );

    background-size: 9px 9px;

    pointer-events: none;
}


/* ==============================
   HEADER
============================== */

.header {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;

    padding: 25px 40px;

    display: flex;

    justify-content: space-between;

    align-items: center;

    z-index: 50;
}

.logo {
    color: rgb(17, 175, 233);

    font-size: 25px;

    font-family: serif;

    font-weight: 900;

    letter-spacing: 1px;
}


/* ==============================
   MENU BUTTON
============================== */

.menu-button {
    position: fixed;

    top: 25px;
    right: 30px;

    width: 55px;
    height: 48px;

    border: none;
    border-radius: 14px;

    background: rgba(255,255,255,0.18);

    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 5px;

    z-index: 9999;
}

.menu-button span {
    width: 24px;
    height: 3px;

    background: white;

    border-radius: 10px;
 }

/* ==============================
   MENU
============================== */

.menu {
    position: fixed;

    top: 85px;
    right: 30px;

    width: 250px;

    padding: 15px;

    background: white;

    border-radius: 20px;

    box-shadow:
        0 20px 50px rgba(0,0,0,0.2);

    z-index: 100;

    opacity: 0;

    transform: translateY(-10px);

    pointer-events: none;

    transition: 0.3s;
}

.menu.show {
    opacity: 1;

    transform: translateY(0);

    pointer-events: auto;
}

.menu a {
    display: block;

    font-family: sans-serif;
    
    padding: 14px;

    color: #0879bb;

    font-weight: bold;

    text-decoration: none;

    border-radius: 12px;
}

.menu a:hover {
    background: #e8f7ff;
}


/* ==============================
   CLOUD
============================== */

.cloud {
    position: absolute;

    width: 500px;
    height: 120px;

    border-radius: 100px;

    z-index: 2;
}


/* ==============================
   CLOUD 1
============================== */

.cloud-1 {
    left: -150px;

    top: 50px;

    background: white;

    opacity: 0.9;

    animation:
        cloudMove1
        12s
        infinite
        alternate
        ease-in-out;
}

.cloud-1::before,
.cloud-1::after {
    content: "";

    position: absolute;

    border-radius: 50%;
}

.cloud-1::before {
    width: 220px;
    height: 220px;

    left: 70px;
    bottom: 20px;

    background: white;
}

.cloud-1::after {
    width: 250px;
    height: 180px;

    right: 50px;
    bottom: 0;

    background: white;
}


/* ==============================
   CLOUD 2 — XANH
============================== */

.cloud-2 {
    right: -150px;

    bottom: 80px;

    background: #baf58b;

    opacity: 0.8;

    filter: blur(3px);

    animation:
        cloudMove2
        15s
        infinite
        alternate
        ease-in-out;
}

.cloud-2::before,
.cloud-2::after {
    content: "";

    position: absolute;

    border-radius: 50%;

    background: #baf58b;
}


.cloud-2::before {
    width: 200px;
    height: 200px;

    left: 70px;
    bottom: 20px;
}

.cloud-2::after {
    width: 260px;
    height: 180px;

    right: 50px;
    bottom: 0;
}


/* ==============================
   CLOUD 3
============================== */

.cloud-3 {
    left: -180px;

    bottom: -80px;

    background: white;

    opacity: 0.9;

    transform: scale(1.3);
}


/* ==============================
   CLOUD ANIMATION
============================== */

@keyframes cloudMove1 {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(120px);
    }
 }

@keyframes cloudMove2 {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-120px);
    }
 }

/* ==============================
   STARS
============================== */

.star {
    position: absolute;

    color: white;

    font-size: 40px;

    z-index: 5;

    animation:
        twinkle
        3s
        infinite
        ease-in-out;
}

.star-1 {
    left: 12%;

    top: 23%;
}

.star-2 {
    right: 12%;

    top: 28%;

    font-size: 25px;
}

.star-3 {
    left: 25%;
    bottom: 25%;

    font-size: 22px;
}


@keyframes twinkle {

    50% {
        transform:
            scale(1.3)
            rotate(10deg);

        opacity: 0.5;
    }
}


/* ==============================
   HERO
============================== */

.hero {
    position: relative;

    z-index: 10;

    width: 100%;
    height: 100vh;

    display: flex;

    justify-content: center;

    align-items: center;
}

/* ==============================
PORTFOLIO TITLE
============================== */
.portfolio-title {

    position: absolute;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;

    font-size: clamp(100px, 14vw, 310px);

    font-weight: 900;

    letter-spacing: -6px;

    line-height: 1;

    z-index: 30;

    white-space: nowrap;
}


/* ==============================
RABBIT AREA
============================== */

.rabbit-area {
    position: relative;

    width: 220px;
    height: 200px;

    margin: 0 -10px;
    padding: 0;

    flex-shrink: 0;

    z-index: 10;
}


/* ==============================
LETTER O
============================== */

.letter-o {
    display: none;
}


/* ==============================
RABBIT CONTAINER
============================== */

.rabbit {
    position: absolute;

    width: 750px;
    height: auto;

    left: 0%;
    top: -20%;

    transform: translate(-50%, -50%);

    z-index: 20;

    pointer-events: none;
}


/* ==============================
RABBIT IMAGE
============================== */

.rabbit img {
    display: block;

    width: 1000px !important;
    height: auto !important;

    max-width: none !important;
    max-height: none !important;

    object-fit: contain;

    filter:
        drop-shadow(
            0 15px 10px
            rgba(0,60,100,0.2)
        );
}


/* ==============================
   FOOTER
============================== */

.footer {
    position: absolute;

    z-index: 20;

    bottom: 0;
    left: 0;

    width: 100%;

    padding: 20px 40px;

    display: grid;

    grid-template-columns:
        1fr 1fr 1fr;

    color: white;

    background:
        rgba(0,100,160,0.35);

    backdrop-filter: blur(8px);

    font-weight: bold;

    font-family: sans-serif;

}

.footer div:nth-child(2) {
    text-align: center;
}

.footer div:nth-child(3) {
    text-align: right;
}

.footer a {
    color: white;

    text-decoration: none;
}


/* ==============================
   MOBILE
============================== */

@media (max-width: 700px) {

    .header {
        padding: 20px;
        font-family: sans-serif;
    }

    .portfolio-title {
        font-size: 15vw;
        letter-spacing: -3px;
    }

    .footer {
        padding: 15px 20px;
        font-size: 11px;
        font-family: sans-serif;

    }
}
.portfolio-title span {
    position: relative;
    z-index: 50;
}

.rabbit {
    z-index: 20;
}

/* ==============================
   BACKGROUND DECORATION
============================== */

.background-decor {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
}

/* Ngôi sao */
.star {
    position: absolute;
    width: 100px;
    height: auto;
    animation: floatStar 4s ease-in-out infinite;
}

/* Vị trí từng ngôi sao */
.star-1 {
    top: 40%;
    left: 3%;
}

.star-2 {
    top: 70%;
    right: 10%;
    width: 200px;
    animation-delay: 1s;
}

/* Bong bóng */
.bubble {
    position: absolute;
    width: 60px;
    height: auto;
    animation: floatBubble 5s ease-in-out infinite;
}

/* Vị trí từng bong bóng */
.bubble-1 {
    top: 40%;
    right: 8%;
}

.bubble-2 {
    bottom: 25%;
    right: 8%;
    width: 35px;
    animation-delay: 1.5s;
}

.bubble-3 {
    right: 6%;
    top: 40%;
    width: 30px;
    animation-delay: 3s;
}

/* ==============================
   ANIMATION
============================== */

@keyframes floatStar {
    0%, 100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-10px) rotate(8deg);
    }
}

@keyframes floatBubble {
    0%, 100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }
}


/* Thanh footer đứng yên */
footer {
    position: relative;
    overflow: hidden;
}

/* Chỉ 3 dòng chữ chạy */
footer > div {
    animation: footerMove 40s linear infinite;
}

/* ==============================
   CHỈ CHẠY CHỮ
============================== */

@keyframes footerMove {

    /* Vị trí ban đầu */
    0% {
        transform: translateX(0);
    }

    /* Chạy sang trái */
    12.5% {
        transform: translateX(-100vw);
    }

    /* Xuất hiện từ bên phải */
    12.6% {
        transform: translateX(100vw);
    }

    /* Chạy về vị trí ban đầu */
    25% {
        transform: translateX(0);
    }

    /* Đứng yên 30 giây */
    25%,
    100% {
        transform: translateX(0);
    }
}